[submodule "SDJ1"]
	path = SEM1/SDJ1
	url = https://github.com/kovacsand/SDJ1.git
[submodule "SEM01/RWD1"]
	path = SEM1/RWD1
	url = https://github.com/kovacsand/RWD1.git
[submodule "SEM01/DMA1"]
	path = SEM1/DMA1
	url = https://github.com/kovacsand/DMA1.git
[submodule "SEM01/SEP1/SEP1"]
	path = SEM1/SEP1/SEP1
	url = https://github.com/kovacsand/SEP1.git
[submodule "SEM01/SEP1/SEP1-Website"]
	path = SEM1/SEP1/SEP1-Website
	url = https://github.com/kovacsand/SEP1-Website.git
[submodule "SEM3/SEP3/SEP3-presentation-tier"]
	path = SEM3/SEP3/SEP3-presentation-tier
	url = https://github.com/kovacsand/SEP3-presentation-tier.git
[submodule "SEM3/SEP3/SEP3-logic-tier"]
	path = SEM3/SEP3/SEP3-logic-tier
	url = https://github.com/kovacsand/SEP3-logic-tier.git
[submodule "SEM3/SEP3/SEP3-data-tier"]
	path = SEM3/SEP3/SEP3-data-tier
	url = https://github.com/kovacsand/SEP3-data-tier.git
[submodule "SEM2/SEP2/SEP2"]
	path = SEM2/SEP2/SEP2
	url = https://github.com/kovacsand/SEP2.git
[submodule "SEM2/SDJ2"]
	path = SEM2/SDJ2
	url = https://github.com/kovacsand/SDJ2.git
